svg(viewBox="0 0 1000 500")
  path(d="M 950 500 A 450 450 0 0 0 50 500")
  text( class='value'
        text-anchor="middle"
        alignment-baseline="middle"
        x="500" y="300"
        font-size="140"
        font-weight="bold" ) #{value} #{unit}
  text( class='title'
        text-anchor="middle"
        alignment-baseline="middle"
        x="500" y="450"
        font-size="90"
        font-weight="normal" )= title
