  
svg(viewBox=`0 0 ${width} ${height}` id=`${id}`)
  
  //- backdrop
  path( class="backdrop" d= path_backdrop
        stroke-width=`${barwidth}` stroke="#bbbbbb" fill="none"
      )
    
  //- bar
  path( class="bar" d= path_bar
        stroke-width=`${barwidth}` stroke="#0000ff" fill="none"
      )
        
  //- needle
  
  //- trend
  
  //- marker
  
  //- ticks
  
  //- out of range
  polygon(  class='underflow'
            points= poly_triangle_left  
            fill="#0000ff" visibility="hidden"
          )
  polygon(  class='overflow'
            points= poly_triangle_right 
            fill="#0000ff" visibility="hidden"
          )
  
  //- digital display
  text( class='digital'
        text-anchor="end"
        alignment-baseline="middle"
        x=`${width}` y=`${height*.8}`
        font-size="100"
        font-weight="bold" ) #{value} #{unit}
  
  //- label
  text( class='title'
        text-anchor="start"
        alignment-baseline="middle"
        x=`${0}` y=`${height*.8}`
        font-size="100"
        font-weight="normal" )= title
